*{
    box-sizing: border-box;
}
.content {
    padding: 10px;
}

.tabs {
    width: 100%;
    padding: 50px 0 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;

    button {
        cursor: pointer;
        background: #fff;
        border: none;
        padding: 10px 25px;
        color: #cfcfcf;
        font-weight: bold;

        &.active {
            border-top: 1px solid #616161;
            border-left: 1px solid #616161;
            border-right: 1px solid #616161;
            background: #7f7f7f;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            cursor: pointer;
            color: #fff;
        }
    }
}

code {
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; /* Font for code */
}
.impl{
    display: flex;
    flex-direction: column;
}
.tool_panel{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    z-index: 20;
}
.tool_button{
    cursor: pointer;
}
.tool_box{
    display: flex;
    width: 400px;
    height: 70px;
    border-radius: 25px;
    background-color: #f0f0f0;
    justify-content: space-between;
    padding: 20px;
}
.floor_panel{
    display: flex;
    justify-content: center;
    margin-top:20px;
    width: 100%;
}
.rotate{
    transform: rotate(90deg);
    margin-top:200px;
    width: 100%;
}
.floor_svg{
    width: 50%;
    display: flex;
    justify-content: center;
}